.messages{
    margin-top: 30px;
    .padding-0 {
        padding: 0;
    }
    .messages-left {
        padding-right: 0;            
        .title-messenger {
            padding: 0.5rem 0.25rem 0.5rem 1rem;
            .title-messenger-text {
                font-weight: 500;
                font-size: 1.285rem;
                line-height: 3rem;
            }
            .title-messenger-action {
                float: right;
            }
        }
    }
    .user-profile-sidebar-area {
        .list-group-item {
            padding: 1rem;
            border-right: none;
            border-left: none;
        }
        .avatar img {
            width: 42px !important;
            height: 42px !important;
        }
        .chat-lastSeenDate {
            font-size: 12px;
        }
        .chat-action {
            position: absolute;
            right: 0.5rem;
        }
    }
    .messages-right {
        padding-left: 0;
        border-left: 1px solid #ebe9f1;;
        .messages-right-header {
            padding: 1rem;
            .chat-name {
                margin-top: 0.1rem;
            }
            .avatar img {
                width: 42px !important;
                height: 42px !important;
            }
            .chat-lastSeenDate {
                font-size: 12px;
            }
            .chat-action {
                position: absolute;
                right: 0.5rem;
            }
        }
        
        .divider {
            margin: 0;
        }
        .chat-area {
            max-height: 400px;
            .messages-list {
                min-height: 400px;
            }
        }
        .message-send-action {
            padding: 0.75rem;
        }
        .form-group {
            padding: 0.75rem 0;
            margin-bottom: 0 !important;
        }
        .message-box {
            border: none !important;
        }
        .message-box:focus {
            outline: none;
            box-shadow: none !important;
        }
    }
    
}
